<%= form_for(@articulo) do |f| %>
  <% if @articulo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@articulo.errors.count, "error") %> prohibited this articulo from being saved:</h2>

      <ul>
      <% @articulo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field input-group">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo, :class => "form-control" %>
  </div>
  <div class="field input-group">
    <%= f.label :cuerpo %><br>
    <%= f.text_area :cuerpo, :class => "form-control" %>
  </div>
  <div class="field input-group">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar", :class => 'btn btn-success'%>
  </div>
<% end %>
