<% unless notice.blank? %>
  <div class="alert alert-success" role="alert">
      <p id="notice"><%= notice %></p>
  </div>
<% end %>

<p>
  <strong>Titulo:</strong>
  <%= @articulo.titulo %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @articulo.cuerpo %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @articulo.fecha %>
</p>

<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
  
    <li><%= link_to 'Edit', edit_articulo_path(@articulo) %> </li>
    <li><%= link_to 'Back', articulos_path %> </li>
    <li><%= link_to 'New Comentario', new_comentario_path(articulo_id: @articulo.id) %> </li>

  </ul>

</nav>


<h3 id="tit">Listing Comentarios</h3>

<table>
  <thead>
    <tr>
      <th>Autor</th>
      <th>Cuerpo</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articulo.comentarios.each do |comentario| %>
      <tr>
        <td><%= comentario.autor %></td>
        <td><%= comentario.cuerpo %></td>
        <td><%= comentario.fecha %></td>
        <td><%= link_to 'Mostar', comentario %></td>
        <td><%= link_to 'Editar', edit_comentario_path(comentario) %></td>
        <td><%= link_to 'Eliminar', comentario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

